<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 footerEnvelope">
        <span><i class="fas fa-envelope"></i></span>
        <input type="text" class="sendEmailInput" />
      </div>
    </div>
    <div class="row">
      <div class="footercopyright col-sm-6">
        Copyright &copy; 2014 Two Bytes Consulting. Terms & Policies
      </div>
      <div class="col-sm-6 socialBtn">
        <span class="tweetBtn">
          <button type="button" class="btn btn-outline-primary">
            <i class="fab fa-twitter"></i> Tweet
          </button>
          <span>692</span>
        </span>
        <span class="fbBtn">
          <button type="button" class="btn btn-outline-primary">
            <i class="fab fa-facebook"></i> Like
          </button>
          <span>117</span>
        </span>
      </div>
    </div>
  </div>
</section>
