<section class="subscribe">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      Subscribe to our Job Seeker Mailing List
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <div class="subscribeInputBtn">
        <input
          type="text"
          class="subscribeInput"
          placeholder="Enter Your Email Address"
        />
        <span class="subscribeBtn"><i class="fas fa-envelope"></i></span>
      </div>
    </div>
  </div>
</section>
